html,
html body {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background: #313236;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}
html body div.background {
	opacity: .25;
	position: absolute;
	top: 0;
	left: 0;
}
html body div.popup {
	opacity: 0;
	z-index: 999;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	pointer-events: none;
}
html body div.popup[data-state=on] {
	background: rgba(0,0,0,0.9);
	pointer-events: initial;
}
html body div.scrollcontainer {
	position: relative;
	/*margin-top: 26px;*/
	height: 100%;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
	transition: opacity 360ms ease-in;
	-webkit-transition: opacity 360ms ease-in;
	-moz-transition: opacity 360ms ease-in;
	-ms-transition: opacity 360ms ease-in;
	-o-transition: opacity 360ms ease-in;
}
html body div.scrollcontainer.hide {
	opacity: 0;
}
html body div.scrollcontainer div.container {
	position: absolute;
	left: 50%;
	width: 1240px;
	height: 100%;
	margin-left: -620px;
	transition: opacity 360ms ease-in;
	-webkit-transition: opacity 360ms ease-in;
	-moz-transition: opacity 360ms ease-in;
	-ms-transition: opacity 360ms ease-in;
	-o-transition: opacity 360ms ease-in;
}
html body div.scrollcontainer div.container.hide {
	opacity: 0;
}
html body div.scrollcontainer div.container div.relaylist,
html body div.scrollcontainer div.container div.sessionlist {
	position: absolute;
	left: 50%;
	margin-left: -620px;
	height: calc(100% - 42px);
	width: 100%;
}
html body div.scrollcontainer div.container div.relaylist div.header,
html body div.scrollcontainer div.container div.sessionlist div.header {
	position: relative;
	top: 26px;
	height: auto;
	width: 100%;
	text-align: center;
	font-family: "OpenSans-Regular";
	color: #FFF;
}
html body div.scrollcontainer div.container div.relaylist div.header h1,
html body div.scrollcontainer div.container div.sessionlist div.header h1 {
	display: inline-block;
	width: 100%;
	margin: 0px;
	padding: 30px 0px 0px 0px;
}
html body div.scrollcontainer div.container div.relaylist div.header span.newsmessage,
html body div.scrollcontainer div.container div.sessionlist div.header span.newsmessage {
	display: inline-block;
	transition: opacity 360ms ease-in;
	-webkit-transition: opacity 360ms ease-in;
	-moz-transition: opacity 360ms ease-in;
	-ms-transition: opacity 360ms ease-in;
	-o-transition: opacity 360ms ease-in;
	width: 100%;
	text-align: center;
	color: rgba(255,255,255,0.35);
	margin: 0px;
	padding: 0px 0px 40px 0px;
}
html body div.scrollcontainer div.container div.relaylist div.header span.newsmessage.hide,
html body div.scrollcontainer div.container div.sessionlist div.header span.newsmessage.hide {
	opacity: 0;
}
html body div.scrollcontainer div.container div.relaylist div.relay,
html body div.scrollcontainer div.container div.sessionlist div.session {
	margin: 24px 12px 0 12px;
	float: left;
	position: relative;
	width: 224px;
	height: 224px;
	background-color: rgba(255,255,255,0.0333);
	background-image: url(../images/relay.svg);
	background-repeat: no-repeat;
	background-size: 35%;
	background-position: 50% 50%;
	border-radius: 5px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	font-size: 14px;
	color: #FFF;
	transition: background-color 200ms linear;
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
}
html body div.scrollcontainer div.container div.sessionlist div.session {
	background-image: none;
}
html body div.scrollcontainer div.container div.relaylist div.relay:hover,
html body div.scrollcontainer div.container div.sessionlist div.session:hover {
	background-color: rgba(255,255,255,0.05);
	transition: background-color 0s linear;
	-webkit-transition: background-color 0s linear;
	-moz-transition: background-color 0s linear;
	-ms-transition: background-color 0s linear;
	-o-transition: background-color 0s linear;
}
html body div.scrollcontainer div.container div.sessionlist div.session.unknown:hover {
	background-color: rgba(0,0,0,0.5);
	cursor: default;
}
html body div.scrollcontainer div.container div.relaylist div.relay:active,
html body div.scrollcontainer div.container div.sessionlist div.session:active {
	background-color: rgba(0,0,0,0.3);
}
html body div.scrollcontainer div.container div.sessionlist div.session.unknown:active {
	background-color: rgba(25,0,0,1)
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}
@-webkit-keyframes loader {
	0% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}
.loader {
	animation: loader 420ms infinite linear;
	-webkit-animation: loader 420ms infinite linear;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	background: url(../images/loader.svg);
	background-size: 100%;
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon {
	margin-top: 30px;
	width: 100%;
	height: 100px;
	background-size: contain !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.unknown {
	background: url(../images/unknown.svg);
	background-size: 15% !important;
	opacity: .1;
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.laptop {
	background: url(../images/laptop.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.laptop2 {
	background: url(../images/laptop2.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.laptop3 {
	background: url(../images/laptop3.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.phone {
	background: url(../images/phone.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.phone2 {
	background: url(../images/phone2.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.router {
	background: url(../images/router.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.acer {
	background: url(../images/brand_acer.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.thinkpad {
	background: url(../images/brand_thinkpad.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.android {
	background: url(../images/os_android.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.ios {
	background: url(../images/os_ios.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon.tor {
	background: url(../images/tor.png);
}
html body div.scrollcontainer div.container div.sessionlist div.session div.icon div.logo {
	position: absolute;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
html body div.scrollcontainer div.container div.sessionlist div.session div[class^="icon laptop"] div.logo.acer {
	top: 71px;
	height: 10px;
	background-image: url(../images/brand_acer.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div[class^="icon laptop"] div.logo.thinkpad {
	top: 68px;
	height: 14px;
	background-image: url(../images/brand_thinkpad.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div[class^="icon phone"] div.logo.android {
	top: 71px;
	height: 18px;
	background-image: url(../images/os_android.svg);
}
html body div.scrollcontainer div.container div.sessionlist div.session div[class^="icon phone"] div.logo.tor {
	top: 68px;
	height: 24px;
	background-image: url(../images/tor.png);
}
html body div.scrollcontainer div.container div.sessionlist div.session div[class^="icon router"] div.logo.tplink {
	top: 110.5px;
	left: 26px;
	height: 4px;
	background-image: url(../images/tplink_black.svg);
	opacity: 0.25;
}
html body div.scrollcontainer div.container div.relaylist div.relay span,
html body div.scrollcontainer div.container div.sessionlist div.session span {
	width: 100%;
	text-align: center;
	max-width: 80%;
	margin-left: 10%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
html body div.scrollcontainer div.container div.relaylist div.relay span.relaynumber {
	position: absolute;
	font-family: "OpenSans-ExtraBold";
	font-size: 28px;
	top: 25px;
	width: 100%;
}
html body div.scrollcontainer div.container div.sessionlist div.session span.device {
	bottom: 60px;
	font-size: 10px;
}
html body div.scrollcontainer div.container div.relaylist div.relay span.name,
html body div.scrollcontainer div.container div.sessionlist div.session span.id {
	position: absolute;
	bottom: 38px;
	font-family: "OpenSans-ExtraBold";
}
html body div.scrollcontainer div.container div.relaylist div.relay span.url,
html body div.scrollcontainer div.container div.sessionlist div.session span.hostname,
html body div.scrollcontainer div.container div.sessionlist div.session span.device {
	position: absolute;
	color:rgba(255,255,255,0.5);
	font-family: "OpenSans-Regular";
}
html body div.scrollcontainer div.container div.relaylist div.relay span.url,
html body div.scrollcontainer div.container div.sessionlist div.session span.hostname {
	bottom: 18px;
}
html body div.scrollcontainer div.container span.nonefound {
	font-family: "OpenSans-Regular";
	color: rgba(255,255,255,0.1);
	font-size: 18px;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: 71px;
}
html body div.scrollcontainer div.container div.relaylist div.space,
html body div.scrollcontainer div.container div.sessionlist div.space {
	display: inline-block;
	height: 100%;
	width: 100%;
}
html body div.console {
	position: absolute;
	bottom: 0;
	background: #000;
	height: 142px;
	width: 100%;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
}
html body div.console div.clear {
	z-index: 9;
	position: absolute;
	left: 0;
	top: -19px;
	font-family: "OpenSans-Regular";
	font-size: 12px;
	padding: 1px 5px;
	color: #FFF;
	background-color: rgba(0,0,0,0.75);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 200ms linear;
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
}
html body div.console div.clear:hover {
	background-color: rgba(255,255,255,0.05);
	transition: background-color 0s linear;
	-webkit-transition: background-color 0s linear;
	-moz-transition: background-color 0s linear;
	-ms-transition: background-color 0s linear;
	-o-transition: background-color 0s linear;
}
html body div.console div.clear:active {
	background-color: rgba(0,0,0,1);
}
html body div.console div.resizebar {
	position: absolute;
	top: 0;
	height: 1px;
	width: 100%;
	background: rgb(60,60,60);
	cursor: ns-resize;
}
html body div.console div.resizebar div.padding {
	position: absolute;
	height: 10px;
	width: 100%;
}
html body div.console div.resizebar div.padding:nth-of-type(1) {
	top: -10px;
}
html body div.console div.resizebar div.padding:nth-of-type(2) {
	top: 0;
}
html body div.console div.resizebar div.handle {
	position: absolute;
	top: -2px;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 5px;
}
html body div.console div.resizebar div.handle div {
	position: absolute;
	height: 1px;
	width: 100%;
	background: rgb(60,60,60);
}
html body div.console div.resizebar div.handle div.top {
	top: 0;
	border-bottom: 1px solid black;
}
html body div.console div.resizebar div.handle div.bottom {
	bottom: 0;
	width: 70%;
	left: 15%;
	border-top: 1px solid black;
}
html body div.console div.consolecontainer {
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	padding: 3px;
	color: #FFF;
	font-family: "ubuntu monospace";
	font-size: 10pt;
	overflow: hidden;
	overflow-y: scroll;
	word-break: break-all;
}
html body div.console div.consolecontainer span::selection {
	background-color: #FFF;
	color: #000;
}
html body preload {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0px;
	height: 0px;
}
.selectable {
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
}
.displaynone {
	display: none;
}
.nopointerevents {
	pointer-events: none;
}
.up {
	top: 50% !important;
}
.down {
	top: -50% !important;
}

@media(max-width: 1276px) {
	html body div.scrollcontainer div.container {
		max-width: 992px;
		margin-left: -496px;
	}
	html body div.scrollcontainer div.container div.relaylist,
	html body div.scrollcontainer div.container div.sessionlist {
		margin-left: -496px;
	}
}

@media(max-width: 1026px) {
	html body div.scrollcontainer div.container {
		max-width: 744px;
		margin-left: -372px;
	}
	html body div.scrollcontainer div.container div.relaylist,
	html body div.scrollcontainer div.container div.sessionlist {
		margin-left: -372px;
	}
}

@media(max-width: 780px) {
	html body div.scrollcontainer div.container {
		max-width: 496px;
		margin-left: -248px;
	}
	html body div.scrollcontainer div.container div.container {
		margin-left: -248px;
	}
	html body div.scrollcontainer div.container div.relaylist,
	html body div.scrollcontainer div.container div.sessionlist {
		margin-left: -248px;
	}
}

@media(max-width: 534px) {
	html body div.scrollcontainer div.container {
		max-width: 248px;
		margin-left: -124px;
	}
	html body div.scrollcontainer div.container div.container {
		margin-left: -124px;
	}
	html body div.scrollcontainer div.container div.relaylist,
	html body div.scrollcontainer div.container div.sessionlist {
		margin-left: -124px;
	}
}