html,
html body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #222;
}
html body div.container{
	position: relative;
	height: 100%;
	width: 100%;
}
html body div.container audio,
html body div.container video{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-size: 80px auto !important;
	background-position: center 50px !important;
	background-repeat: no-repeat !important;
}
html body div.container audio{
	background: url(./assets/images/stream-mic.svg);
}